bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
ConsoleApp/.idea/.idea.ConsoleApp/.idea/encodings.xml
ConsoleApp/.idea/.idea.ConsoleApp/.idea/indexLayout.xml
ConsoleApp/.idea/.idea.ConsoleApp/.idea/misc.xml
ConsoleApp/.idea/.idea.ConsoleApp/.idea/vcs.xml
V/.idea/.idea.V.dir/.idea/indexLayout.xml
V/.idea/.idea.V.dir/.idea/misc.xml
V/.idea/.idea.V.dir/.idea/projectSettingsUpdater.xml
V/.idea/.idea.V.dir/.idea/workspace.xml
VI/.idea/.idea.VI/.idea/indexLayout.xml
VI/.idea/.idea.VI/.idea/misc.xml
VI/.idea/.idea.VI/.idea/projectSettingsUpdater.xml
VI/.idea/.idea.VI/.idea/workspace.xml
